.section{
    width: 100%;
    max-width: 1920px;
    background-color: rgba(44, 46, 49, 0.5);
}
 .header{
    opacity: 50%;
    position: relative;

 }
.container {
    max-width: 1180px;
    min-height: 878px;
    padding: 40px;
    background: white;
    left: 10%;
    position: absolute;
    top: 80px;
    z-index: 2;
}

.cont_1 {
    gap: 20px;
    display: flex;
    justify-content: center;
}

.img img {
    max-width: 538.25px;
    max-height: 565.96px;
    border-radius: 4px;
}

.description_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 565.96px;
    padding-bottom: 30px;

}

.vendorСode {
    color: #B2B5BB;
}

.number {
    color: #444B58;
}

.productInfo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.productInfo span {
    display: flex;
}

.gen_tit {
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
}

.sizes p {
    color: #444B58;
}

.size {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.hiddenRadio {
    display: none;
}

.sizeOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.customRadio {
    width: 70px;
    height: 32px;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.hiddenRadio:checked+.customRadio {
    background-color: #535053;
    color: white;
    border-color: #373839;
}

.price {
    display: flex;
    gap: 40px;
}

.menu p {
    color: #B2B5BB;
    padding-top: 10px;
}

.cont_2 {
    grid-template-columns: 56% 22%;
    padding: 40px;
    display: grid;
}

.description_snk {
    max-width: 430px;
    min-height: 136px;
}

.description_snk h3 {
    padding-bottom: 20px;

}

.description_snks h3 {
    padding-bottom: 10px;
}

.p p {
    padding-top: 10px;
    color: #444B58;
}
@media (max-width: 1180px) {
.cont_1{
    flex-direction: column-reverse;
}
.cont_2{
    gap: 30px;
}
    
}